@import 'variable';

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    @include reset-style();
    font-family: 'Red Hat Display', sans-serif;
}

main {
    @include flexCenter(center, center, column);
    height: 100vh; position: relative;
    background-color: $tertiaryColor;
    z-index: 1;

    .attribution {
        position: absolute;
        bottom: 30px; color: $quaternaryColor;

        a {
            text-decoration: none;
            color: $PrimaryColor;
        }
    }

    .waveDesktop {
        position: absolute; z-index: 2;
        top: 0; opacity: 0.10;
        width: 100%; height: auto;
    }
}

.cardSummary {
    width: 350px; height: 600px;
    border-radius: 40px; z-index: 3;
    box-shadow: $boxShadow;

    .cardImage {
        height: 35%; width: 100%;

        img {
            width: 100%; height: 100%;
            border-radius: 40px 40px 0 0;
        }
    } 

    .cardContent {
        @include flexCenter(center, center, column);
        background-color: $tertiaryColor;
        height: 65%; gap: 1.3rem;
        border-radius: 0 0 40px 40px;

        .content {
            text-align: center;

            h2 {
                color: $quaternaryColor;
                font-size: 2rem;
                font-weight: 900;
            }

            p {
                color: $SecondaryColor;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 0 1.4rem 0 1.4rem;
            }
        }

        .value {
            @include flexCenter(space-between, center, row);
            width: 85%; padding: 0 1.3rem 0 1.3rem;
            border: 2px solid $quaternaryColor;
            border-radius: 15px; height: 70px;

            .one {
                h3 {
                    color: $quaternaryColor;
                    font-weight: 700;
                }

                p {
                    color: $SecondaryColor;
                    font-weight: 500;
                }
            }

            .two {
                border-left: 3px solid $quaternaryColor;

                a {
                    padding: 0 0 0 1rem;
                    text-decoration: none;
                    color: $PrimaryColor;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        button {
            background-color: $quaternaryColor;
            outline: none; border: none;
            width: 85%; height: 70px;
            border-radius: 15px; cursor: pointer;

            p {
                width: 100%;
                color: $tertiaryColor;
                font-size: 1rem;
                font-weight: 700;
            }

            &:hover {
                background-color: $PrimaryColor;
                transition: .4s ease-in-out;
            }
        }

        .cancelOder {
            color: $SecondaryColor; cursor: pointer;
            font-size: 1.2rem; margin: 0 0 1rem 0;

            &:hover {
                color: $quaternaryColor;
            }
        }
    }
}

@media ( max-width: 390px ) {
    main .attribution {
        bottom: 5px;
    }

    .cardSummary {
        width: 325px;
    }
}
